
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BSTORE-BREADCRUMB START -->
                <div class="bstore-breadcrumb">
                    <a href="/">Trang chủ</a>
                    <span><i class="fa fa-caret-right fa-fw"></i></span>
                    <span>Đăng nhập</span>
                </div>
                <!-- BSTORE-BREADCRUMB END -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-6 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- REGISTERED-ACCOUNT START -->
                <div class="primari-box registered-account">
                    <form class="new-account-box" id="accountLogin" method="post" action="/user/frmLogin">
                        <h3 class="box-subheading">Đăng nhập tài khoản B.Store</h3>
                        @if (TempData["error"] != null)
                        {
                            <h5 class="alert alert-danger text-center">
                                @TempData["error"]
                            </h5>
                        }
                        @if (TempData["success"] != null)
                        {
                            <h5 class="alert alert-success text-center">
                                @TempData["success"]
                            </h5>
                        }
                        <div class="form-content">
                            <div class="form-group primary-form-group">
                                <label for="Account">Tài khoản: </label>
                                <input type="text" name="Account" id="Account" class="form-control input-feild" required>
                            </div>
                            <div class="form-group primary-form-group">
                                <label for="Password">Mật khẩu</label>
                                <input type="password" name="Password" id="Password" class="form-control input-feild" required>
                            </div>

                            <div class="submit-button text-center">
                                <button type="submit" id="signinCreate" class="btn main-btn">
                                    <span>
                                        <i class="fa fa-lock submit-icon"></i>
                                        Đăng nhập
                                    </span>
                                </button>
                            </div>
                            <div class="forget-password">
                                <p>Chưa có tài khoản: <a href="/user/register">Đăng ký</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- REGISTERED-ACCOUNT END -->
            </div>
        </div>
    </div>
</section>

